__pycache__*
cpg.zip
vul-LMGGNN_kaggle.zip
zip_repo_for_kaggle.py
models/__pycache__/LMGNN.cpython-310.pyc
utils/data/__pycache__/datamanager.cpython-310.pyc
utils/process/__pycache__/cpg_generator.cpython-310.pyc
utils/process/__pycache__/embeddings.cpython-310.pyc
models/__pycache__/LMGNN.cpython-310.pyc
joern_analysis
.vscode/settings.json
zip_bin_with_json.py
run_notebook.ipynb
input
